* {
    width: 100%;
    margin: 0 auto;
    padding: auto;
}

body {
    /* background-image: url('../resources/imgs/f685c9e9618868b3.jpg'); */
    background-position: bottom;
    background-size: cover;
    background-color: rgb(245, 245, 245);
}

img {
    object-fit: cover;
}

header {
    position: fixed;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom: 15px;
    background-color: white;
}

#header {
    width: 70%;
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
}

#logo {
    width: 200px;
    height: 50px;
    display: flex;
}

#header input {
    height: 35px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(233, 233, 233);
}

nav {
    display: flex;
    width: 300px;
}

nav i {
    font-size: 30px;
    width: auto;
}

/* section1 */
#main-page {
    width: 45%;
    display: flex;
}

.board-img {
    height: 600px;
}

.board-content {

}
