* {
    width: 100%;
    margin: 0 auto;
    padding: auto;
}

body {
    /* background-image: url('../resources/imgs/f685c9e9618868b3.jpg'); */
    background-position: bottom;
    background-size: cover;
    background-color: rgb(245, 245, 245);
}

img {
    object-fit: cover;
}

header {
    /* position: fixed; */
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom: 15px;
    background-color: white;
}

#header {
    width: 60%;
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
}

#logo {
    width: 200px;
    display: flex;
}

#header input {
    height: 35px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(233, 233, 233);
}

#header input::placeholder {
    padding-left: 10px;
}

nav {
    display: flex;
    width: 250px;
}

nav a {
    color: black;
}

nav i {
    font-size: 30px;
    width: auto;
}

nav > a:hover {
    color: #aaa;
}

/* mypage.html */

#myPage {
    width: 55%;
}

#my-detail-info {
    margin-top: 25px;
    display: flex;
    gap: 100px;
}

.my-profile-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

#my-detail-info > div > div:nth-child(1) {
    display: flex;
    margin-top: 20px;
    width: 600px;
    margin-left: 0;
}

#my-detail-info > div > div:nth-child(1) > div:nth-child(1) {
    font-size: 30px;
    color: rgb(49, 49, 49);
    font-weight: lighter;
    margin-top: 5px;
}

#my-detail-info > div > div:nth-child(1) > a {
    margin-top: 15px;
    text-decoration: none;
    color: rgb(92, 92, 92);
    background-color: white;
    border: 1px solid rgb(92, 92, 92);
    line-height: 2.2;
    width: 110px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
}

#my-detail-info > div > div:nth-child(2) {
    display: flex;
    width: 400px;
    margin-top: 25px;
    margin-left: 0;
    font-weight: bold;
    font-size: 15px;
}

#my-detail-info > div > div:nth-child(3) {
    margin-top: 22px;
    line-height: 1.6;
    color: rgb(54, 54, 54);
}

/* mypage.html */
