
/* mypage.html */

#myPage {
    width: 55%;
}

#my-detail-info {
    margin-top: 25px;
    display: flex;
    gap: 100px;
}

.my-profile-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

#my-detail-info > div > div:nth-child(1) {
    display: flex;
    margin-top: 20px;
    width: 600px;
    margin-left: 0;
}

#my-detail-info > div > div:nth-child(1) > div:nth-child(1) {
    font-size: 30px;
    color: rgb(49, 49, 49);
    font-weight: lighter;
    margin-top: 5px;
}

#my-detail-info > div > div:nth-child(1) > a {
    margin-top: 15px;
    text-decoration: none;
    color: rgb(92, 92, 92);
    background-color: white;
    border: 1px solid rgb(92, 92, 92);
    line-height: 2.2;
    width: 110px;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
}

#my-detail-info > div > div:nth-child(2) {
    display: flex;
    width: 400px;
    margin-top: 25px;
    margin-left: 0;
    font-weight: bold;
    font-size: 15px;
}

#my-detail-info > div > div:nth-child(2) a {
    color: black;
    text-decoration: none;
}

#my-detail-info > div > div:nth-child(3) {
    margin-top: 22px;
    line-height: 1.6;
    color: rgb(54, 54, 54);
}

#my-infos {
    border-top: 1px solid rgb(207, 207, 207);
    margin-top: 30px;
}

#my-infos > div:nth-child(1) {
    width: 90px;
    font-size: 17px;
    font-weight: bold;
    border-top: 1px solid black;
    text-align: center;
    padding-top: 5px;
    margin-top: -1px;
}

#my-infos > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
}

.board-img {
    width: 100%;
    height: 290px;
    position: relative;
}

.board-img > img {
    height: 100%;
    position: absolute;
}

.board-img > div:hover {
    opacity: 1;
}

.board-img > div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    opacity: 0;
    transition: all .5s;
}

.board-img > div > div {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 1px;
    transform: translate(-50%, -50%);
    color: rgb(206, 206, 206);
}

/* my-board-img */

/* popup */

#follower:target {
    display: block;
}

#follow:target {
    display: block;
}

.follow-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
}


.follow-popup > div:nth-child(1) {
    text-align: center;
    line-height: 2.5;
    font-weight: bold;
    border-bottom: 1px solid rgb(183, 183, 183);
}

.follow-list {
    margin-top: 10px;
    height: 350px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.follow-list > div {
    display: flex;
    width: 80%
}

.follow-list > div > div:nth-child(1) {
    display: flex;
}

.follow-list > div > div:nth-child(1) img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.follow-list > div > div:nth-child(1) > div {
    margin-left: 10px;
}

.follow-list > div > div:nth-child(1) > div > div:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
}

.follow-list > div > div:nth-child(1) > div > div:nth-child(2) {
    font-size: 13px;
    color: rgb(100, 100, 100);
}

.follow-list a {
    margin-top: 5px;
    width: 60px;
    border-radius: 5px;
    height: 25px;
    padding-top: 5px;
    border: 1px solid rgb(99, 99, 99);
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.follow-popup > div > a {
    text-decoration: none;
    font-size: 18px;
    position: absolute;
    margin-left: 140px;
    margin-top: -3px;
    color: #aaa;
    width: auto;
}

/* popup */

/* mypage.html */

/* userController.html */

#userControl {
    width: 650px;
    background-color: white;
    margin-top: 50px;
    border: 1px solid #aaa;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}

#userControl> form {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#userImg {
    display: flex;
    gap: 15px;
    margin-left: 30px;
}

#userImg > img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#userImg > div {
    display: flex;
    flex-direction: column;
}

#userImg > div > div:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    margin-top: -2px;
}

#userImg > div > label {
    margin-top: 5px;
    font-size: 14px;
    color: rgb(0, 150, 187);
    font-weight: bold;
}

.user-info-control {
    display: flex;
    gap: 30px;
}

textarea {
    resize: none;
}

.user-info-control > div:nth-child(1) {
    width: 110px;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    padding-top: 2px;
}

.user-info-control > input  {
    border: 1px solid #aaa;
    height: 30px;
    border-radius: 5px;
}

.user-info-control > textarea {
    border: 1px solid #aaa;
    border-radius: 5px;    
}

.major-control {
    display: flex;
    width: 180px;
    margin-left: 0;
}

.major-control > div {
    display: flex;
    gap: 10px;
}

.major-control input {
    margin-top: 7px;
    width: auto;
}

.major-control > div > label {
    font-size: 18px;
    font-weight: bold;
    color: rgb(56, 56, 56);
}

.user-info-control select {
    border: 1px solid #aaa;
    border-radius: 5px;
}

#user-control-btn {
    width: 110px;
    line-height: 2;
    background-color: rgb(0, 150, 187);
    font-size: 20px;
    color: white;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 0;
}

/* userController.html */