* {
    width: 100%;
    margin: 0 auto;
    padding: auto;
}

body {
    /* background-image: url('../resources/imgs/f685c9e9618868b3.jpg'); */
    background-position: bottom;
    background-size: cover;
    background-color: rgb(245, 245, 245);
}
a {
	width: auto;
}


textarea {
	resize: none;
}

img {
    object-fit: cover;
}

header {
    /* position: fixed; */
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom: 15px;
    background-color: white;
}

#header {
    width: 60%;
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
}

#logo {
    width: 200px;
    display: flex;
}

#header form {
	width:350px;
}

#header input {
    height: 35px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(233, 233, 233);
}

#header input::placeholder {
    padding-left: 10px;
}

nav {
    display: flex;
    width: 250px;
}

nav a {
    color: black;
}

nav i {
    font-size: 30px;
    width: auto;
}

nav > a:hover {
    color: #aaa;
}

#user-info-pop {
    display: none;
    position: absolute;
    margin-top: 0px;
    /* border-top: none; */
    width: 200px;
    margin-left: -80px;
    padding-top: 29px;
}

#user-info-pop-inner {
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

#pop-user-name {
    text-align: center;
    line-height: 2.2;
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.user-pop-info {
    text-align: center;
    text-decoration: none;
}

.user-pop-info:nth-child(2) {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.user-pop-info > a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.3;
    margin-top: 5px;
}

.user-pop-info:hover {
    background-color: rgb(228, 228, 228);
}

#user-pop {
	width:auto;	
}


/* popup */
.popup {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    display: none;
    z-index:1000;
}